PORT=3000
HOST=127.0.0.1
NODE_ENV=development
ADMIN_API_KEY=your_admin_key
GENRES_API_PORT=3001
GITHUB_TOKEN=your_github_token_here
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=your_password
MYSQL_DB=lab1
